.home-main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 12px 10%;
    // border: 1px solid black;

    .home-content {
        display: flex;
        width: 100%;
        height: auto;
        // border: 1px solid red;

        // @media screen and (max-width: 700px) {
        //     flex-direction: column;
        // }

        .home-content-posts {
            flex: 8;
            height: auto;
            // background-color: antiquewhite;
        }

        .home-content-sides {
            flex: 4;
            // background-color: aquamarine;
        }
    }
}