.home-main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 12px 10%;
    // border: 1px solid black;

    .home-content {
        display: flex;
        width: 100%;
        height: auto;

        // @media screen and (max-width: 700px) {
        //     flex-direction: column;
        // }

        .home-content-posts {
            width: calc(100% - 280px);
            height: auto;
            // background-color: antiquewhite;
        }

        .home-content-sides {
            width: 300px;
            // min-width: 280px;
            // background-color: aquamarine;
        }
    }
}